body {
	background: #D4CDF4;
}

.wrapper {
	background: #7A6F9B;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	text-align: center;
}

.wrapper h2 {
	color: #fff;
	margin-bottom: 10%;
	text-transform: uppercase;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 28px;
	font-weight: normal;
}

input[type="text"] {
	background-color: #8B85C1;
	color: #fff;
	height: 40px;
	font-size: 24px;
}

input[type="radio"] {
	width: 20px;
	height: 20px;
}

b {
	color: #fff;
	font-size: 24px;
}

button {
	background: #8B85C1;
	color: #fff;
	border: none;
	display: inline-block;
	padding: 10px 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 24px;
	font-weight: normal;
}

#result_area {
	color: #fff;
	margin-top: 20px;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 24px;
	font-weight: normal;
}